---
import type { GetStaticPaths } from "astro";
//codigo server side only - momento de la contruccion build time
import PokemonCard from "@components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list.response";
import MainLayouts from "@layouts/MainLayouts.astro";


export const getStaticPaths = (async({paginate}) => {
	const resp = await fetch ('https://pokeapi.co/api/v2/pokemon?limit=151')
	const {results} = await resp.json() as PokemonListResponse
	
	return paginate(results, {pageSize: 20});
}) satisfies GetStaticPaths;

const title = "Pokemon Sary"
const {page} = Astro.props;
---

<MainLayouts title={title}>
	<h1 class="text-3xl">LIstado de Pokemon</h1>
	<hr />
	<section arial-label="Lista de Pokemons" class="grid grid-cols-1 ms:grid-cols-4 md:grid-cols-5 gap-4 mt-5">
	{
		page.data.map(({name, url}) => (
			<PokemonCard name={name} url={url} />
		) )
	}
	</section>

	<section class="flex mt-10 gap-4 items-center">
		
		<a class:list={[
			'btn',
			{
				disabled: !page.url.prev
			}
		]} href={page.url.prev}>Anteriores</a>

		<a class:list={[
			'btn',
			{
				disabled: !page.url.next
			}
		]} href={page.url.next}>Siguientes</a>

		<div class="flex flex-1"></div>

		<span class="text-xl font-bold">pagina {page.currentPage}</span>
	</section>
</MainLayouts>

<style>
	.btn{
		@apply bg-blue-500 p-2 text-white rounded-md
	}
	.disabled{
		@apply bg-gray-600 text-gray-400
	}
</style>