---
import NavBar from '@components/shared/NavBar.astro';
import ViewTransitions from 'astro/components/ViewTransitions.astro';
import { siteInfo } from 'src/consts/site-info';

interface Props {
  title?: string;
  image?: string;
  description?: string;
}

const {title = siteInfo.titile, description = siteInfo.description, image,} = Astro.props
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- se0 -->
		 <meta name="description" content={title} />
		 <meta name="author" content={'luis javier masaquiza'} />

		 <!-- og metatags -->
			<meta property="og:title" content={title} />
			<meta property="og:description" content={description} />
			<meta property="og:image" content={image} />

		<!-- requered -->
		<title>{title}</title>
    <ViewTransitions />
	</head>
	<body class="bg-slate-800 text-slate-100 ">
		<NavBar />
    <main class="mt-10 m-auto max-w-3xl">
      <slot />
    </main>
	</body>
</html>
